_yardoc
.yardoc
.DS_Store
.config
*.bundle
*.gif
*.rbc
*.so
.byebug_history
/vendor/cache/ruby/
/vendor/gems/
/vendor/ruby
bin/
coverage
doc/
ext/mathematical/lib
file.svg
Gemfile.lock
*.gem
InstalledFiles
lib/bundler/man
lib/mathematical.bundle
pkg
rdoc
script/single_text
spec/reports
test.html
test/tmp
test/version_tmp
text.html
tmp
mkmf.log
Makefile
ext/mathematical/build
ext/mathematical/lasem/build
# clangd files
*compile_commands.json
*.cache
