[submodule "ext/mathematical/lasem"]
  path = ext/mathematical/lasem
  url = git://git.gnome.org/lasem
  ignore = dirty
[submodule "ext/mathematical/mtex2MML"]
	path = ext/mathematical/mtex2MML
	url = https://github.com/gjtorikian/mtex2MML
  ignore = dirty
