*.gem
*.rbc
*.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/vendor/gems/
bin/
*.gif
lib/mathematical.bundle
text.html
script/single_text
file.svg
