.jumbotron .container {
  text-align: center;
}

.demo textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

#svg-container {
  max-height: 160px;
}

.jumbotron.samples {
  background-color: #eaf1f1;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

.samples .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-buttons li:first-child {
  padding-left: 50px;
}

/* These help resize the SVGs for mobile */
div.svg-wrapper {
  width: 100%;
  margin: 0 auto;
}

object.svg-sample, .demo svg {
  width: 100%;
  height: auto;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .social-buttons li:first-child {
    padding-left: 0px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  object.svg-sample, .demo svg {
    width: auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
