name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        ruby-version: [3.1.0]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Linux packages
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update -qq
          script/install_linux_deps

      - name: Install MacOS packages
        if: ${{ matrix.os == 'macos-11.0' }}
        run: script/install_macos_deps

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: script/cibuild
